<h1 id="0" class="title_reference">Справочная информация по работе с клавиатурным тренажером "Кейскилл" для администратора</h1>

<h2>Навигация по справочной информации</h2>
<ul>
  <li><a href="/home#1">Авторизация</a></li>
  <li><a href="/home#2">Работа с пользователями</a></li>
  <li><a href="/home#3">Добавление пользователя</a></li>
  <li><a href="/home#4">Просмотр статистики пользователя</a></li>
  <li><a href="/home#5">Работа с упражнениями</a></li>
  <li><a href="/home#6">Добавление упражнения</a></li>
  <li><a href="/home#7">Просмотр общей статистики</a></li>
  <li><a href="/home#8">Выход из приложения</a></li>
</ul>

<h2 id="1">Авторизация</h2>
<p>Работа с приложением начинается с процесса авторизации, где необходимо ввести логин и пароль.</p>
<div class="img_cont">
  <img src="./assets/authorization_text_admin.jpg" alt="Авторизация" height="500">
</div>
<div class="href_center">
  <a href="/home#0">К навигации</a>
</div>

<h2 id="2">Работа с пользователями</h2>
<p>После успешной авторизации для администратора становится доступен просмотр списка пользователей.</p>
<div class="img_cont">
  <img src="./assets/users_list_admin.jpg" alt="Список пользователей" height="500">
</div>
<p>Администратор может выполнять поиск конкретного пользователя по логину с помощью специального поля.</p>
<div class="img_cont">
  <img src="./assets/sort_users_list_admin.jpg" alt="Отсортированный список пользователей" height="500">
</div>
<p>Администратор может выбирать любого пользователя из списка и переходить к просмотру его личной
  статистики, нажав на карточку пользователя.</p>
<div class="img_cont">
  <img class="img_button" src="./assets/user_card.jpg" alt="Карточка пользователя">
</div>
<div class="button_text">
  <p>Администратор может добавлять нового пользователя, нажав на кнопку</p>
  <img class="img_button" src="./assets/plus.png" alt="Кнопка добавить" height="35">
</div>
<div class="href_center">
  <a href="/home#0">К навигации</a>
</div>

<h2 id="3">Добавление пользователя</h2>
<p>Администратор может добавлять нового пользователя, введя его логин и пароль.</p>
<div class="img_cont">
  <img src="./assets/add_user.jpg" alt="Добавление пользователя">
</div>
<div class="button_text">
  <p>После ввода данных для добавления пользователя в систему администратору необходимо
    нажать на кнопку</p>
  <img class="img_button" src="./assets/plus.png" alt="Кнопка добавить" height="35">
</div>
<div class="href_center">
  <a href="/home#0">К навигации</a>
</div>

<h2 id="4">Просмотр статистики пользователя</h2>
<p>После того, как администратор нажал на карточку пользователя, ему становится доступна
  личная статистика пользователя.</p>
<div class="img_cont">
  <img src="./assets/user_statistics_admin.jpg" alt="Статистика пользователя" height="500">
</div>
<div class="button_text">
  <p>Администратор может блокировать пользователю доступ к системе, нажав на кнопку</p>
  <img class="img_button" src="./assets/button_block.png" alt="Кнопка заблокировать" height="34">
</div>
<div class="button_text">
  <p>Администратору доступно удаление пользователя из системы по кнопке</p>
  <img class="img_button" src="./assets/button_delete.png" alt="Кнопка удалить" height="34">
</div>
<div class="href_center">
  <a href="/home#0">К навигации</a>
</div>

<h2 id="5">Работа с упражнениями</h2>
<div class="button_text">
  <p>Для просмотра списка всех упражнений администратору необходимо нажать на кнопку</p>
  <img class="img_button" src="./assets/button_exercises.png" alt="Кнопка упражнения">
</div>
<div class="img_cont">
  <img src="./assets/exercise_list_admin.jpg" alt="Список упражнений" height="500">
</div>
<p>Администратор может фильтровать список упражнений по уровню сложности и длине упражнения.</p>
<div class="img_cont">
  <img src="./assets/filter_exercise_admin.jpg" alt="Отсортированный список упражнений" height="500">
</div>
<div class="button_text">
  <p>Администратору доступно удаление упражнений из системы по кнопке</p>
  <img class="img_button" src="./assets/rubbish.png" alt="Кнопка удалить упражнение" height="33">
</div>
<div class="button_text">
  <p>Администратор может добавлять новое упражнение, нажав на кнопку</p>
  <img class="img_button" src="./assets/plus.png" alt="Кнопка добавить" height="35">
</div>
<div class="href_center">
  <a href="/home#0">К навигации</a>
</div>

<h2 id="6">Добавление упражнения</h2>
<p>Администратор может добавлять новое упражнение, введя его параметры.</p>
<div class="img_cont">
  <img src="./assets/add_exercise.jpg" alt="Добавление упражнения">
</div>
<p>При выборе ручного типа создания упражнения администратору необходимо самостоятельно ввести
  символьную последовательность в появившемся поле.</p>
<div class="img_cont">
  <img src="./assets/add_exercise_manually.jpg" alt="Ввод упражнения">
</div>
<div class="button_text">
  <p>После ввода данных для добавления упражнения в систему администратору необходимо
    нажать на кнопку</p>
  <img class="img_button" src="./assets/plus.png" alt="Кнопка добавить" height="35">
</div>
<div class="href_center">
  <a href="/home#0">К навигации</a>
</div>

<h2 id="7">Просмотр общей статистики</h2>
<div class="button_text">
  <p>Для просмотра общей статистики администратору необходимо нажать на кнопку</p>
  <img class="img_button" src="./assets/button_statistics.png" alt="Кнопка статистика">
</div>
<div class="img_cont">
  <img src="./assets/general_statistics.jpg" alt="Общая статистика" height="500">
</div>
<div class="href_center">
  <a href="/home#0">К навигации</a>
</div>

<h2 id="8">Выход из приложения</h2>
<div class="button_text_end">
  <p>Для выхода из приложения "Кейскилл" администратору необходимо нажать на кнопку</p>
  <img class="img_button" src="./assets/button_exit_admin.png" alt="Кнопка выход" height="34">
</div>
<p>После этого появится окно с просьбой подтверждения выхода из приложения.</p>
<div class="img_cont">
  <img src="./assets/exit_confirmation.jpg" alt="Подтверждение выхода">
</div>
<p>В случае подтверждения выхода администратор попадет на страницу авторизации.</p>
<div class="img_cont">
  <img src="./assets/authorization.jpg" alt="Пустая авторизация" height="500">
</div>
<div class="href_center_end">
  <a href="/home#0">К навигации</a>
</div>
