<hr class="horizontal_hr">
<div class="all_items">
  <div class="area_work">
    <div class="settings">
      <div>
        <p>Уровень сложности</p>
        <input type="checkbox">Начальный<br>
        <input type="checkbox">Средний<br>
        <input type="checkbox">Продвинутый<br><br><br>
        <p>Длина упражнения</p>
        <input type="checkbox">Короткие (40-60)<br>
        <input type="checkbox">Средние (60-80)<br>
        <input type="checkbox">Длинные (80-100)<br>
      </div>
      <div>
        <hr class="vert_hr" width="1" size="500">
      </div>
    </div>
    <div class="exercises">
      <button *ngFor="let exercise of allExercises">
        <a><b>{{exercise.name}}</b><br>
          Уровень: {{getNameOfLevel(exercise.levelNumber)}}<br>
          Длина (в символах): {{exercise.length}}<br>
          Максимальное количество ошибок: {{exercise.maxErrors}}<br>
          Задействованные пальцы: {{getFingers(exercise.keyZone)}}
        </a>
      </button>
    </div>
  </div>
  <div>
    <button class="btn_add" (click)="openModal()">+</button>
  </div>
</div>
