<hr class="horizontal_hr">
<div class="all_items">
  <div class="area_work">
    <div class="settings">
      <div>
        <p>Уровень сложности</p>
        <input type="checkbox" (change)="pushLevelValue(1)">Начальный<br>
        <input type="checkbox" (change)="pushLevelValue(2)">Средний<br>
        <input type="checkbox" (change)="pushLevelValue(3)">Продвинутый<br><br><br>
        <p>Длина упражнения</p>
        <input type="checkbox" (change)="pushLengthValue(1)">Короткие (40-60)<br>
        <input type="checkbox" (change)="pushLengthValue(2)">Средние (61-80)<br>
        <input type="checkbox" (change)="pushLengthValue(3)">Длинные (81-100)<br>
      </div>
      <div>
        <hr class="vert_hr" width="1" size="500">
      </div>
    </div>
    <div class="exercises">
      <ng-container *ngFor="let exercise of allExercises">
        <button class="button_exercise" [ngStyle]="chekAdminRole()?{}:{'cursor': 'pointer' }" *ngIf="checkLevelValue(exercise.levelNumber)&&checkLengthValue(exercise.length)"
           a [routerLink]="['exercise-process', exercise.id]" [disabled]="chekAdminRole()">
          <a><b>{{exercise.name}}</b><br>
            Уровень: {{getNameOfLevel(exercise.levelNumber)}}<br>
            Длина (в символах): {{exercise.length}}<br>
            Максимальное количество ошибок: {{exercise.maxErrors}}<br>
            Задействованные пальцы: {{getFingers(exercise.keyZone)}}
          </a>
          <img *ngIf="chekAdminRole()" class="exercises_delete" src="./assets/rubbish.png" alt="Удалить" (click)="deleteExercise(exercise.id)">
        </button>
      </ng-container>
    </div>
  </div>
  <div class="fix_button">
    <input *ngIf="chekAdminRole()" class="but" type="image" src="../../assets/plus.png" width="50%" height="50%" (click)="openModal()">
  </div>
</div>
