.area_work {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-right: 5%;
}

.button_exercise {
  background-color: #c5eec4;
  border: 0;
  border-radius: 4px 4px 4px 4px;
  margin: 20px 30px 15px 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  padding: 5%;
  max-height: 205px;
  position: relative;
}

button {
  font-family: "Roboto";
  font-size: 16px;
  color: #56674c;
  text-decoration: none;
  overflow: auto;
  overflow-x:hidden;
  overflow-y: hidden;
}

.exercises_delete {
  position: absolute;
  right: 5px;
  bottom: 5px;
  height: 30px;
  cursor: pointer;
}

.settings {
  display: flex;
  margin-left: 5%;
}

.horizontal_hr {
  margin-top: 20px;
}

.vert_hr {
  margin: -7px 5px 5px 25px;
}

.exercises{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.all_items{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fix_button {
  position: sticky;
  bottom: 5px;
}

.but{
  padding-left: 85%;
}

.left_panel{
  width: 170px;
}
