<h1 id="0" class="title_reference">Справочная информация по работе с клавиатурным тренажером "Кейскилл" для обучающегося</h1>

<h2>Навигация по справочной информации</h2>
<ul>
  <li><a href="/home#1">Авторизация</a></li>
  <li><a href="/home#2">Взаимодействие со списком упражнений</a></li>
  <li><a href="/home#3">Выполнение упражнения</a></li>
  <li><a href="/home#4">Взаимодействие со списком пользователей</a></li>
  <li><a href="/home#5">Просмотр статистики пользователя</a></li>
  <li><a href="/home#6">Выход из приложения</a></li>
</ul>
<button (click)="click()"> Сведения о разработчиках</button>
<h2 id="1">Авторизация</h2>
<p>Работа с приложением начинается с процесса авторизации, где необходимо ввести логин и пароль.</p>
<div class="img_cont">
  <img src="./assets/authorization_text.jpg" alt="Авторизация" height="500">
</div>
<div class="href_center">
  <a href="/home#0">К навигации</a>
</div>

<h2 id="2">Взаимодействие со списком упражнений</h2>
<p>После успешной авторизации для обучающегося становится доступен просмотр списка упражнений.</p>
<div class="img_cont">
  <img src="./assets/exercise_list_user.jpg" alt="Список упражнений" height="500">
</div>
<p>Обучающийся может фильтровать список упражнений по уровню сложности и длине упражнения.</p>
<div class="img_cont">
  <img src="./assets/filter_exercise_user.jpg" alt="Отсортированный список упражнений" height="500">
</div>
<p>Обучающийся может выбирать любое упражнение из списка и переходить к его выполнению, нажав на
  карточку упражнения.</p>
<div class="img_cont">
  <img class="img_button" src="./assets/exercise_card.jpg" alt="Карточка упражнения">
</div>
<div class="href_center">
  <a href="/home#0">К навигации</a>
</div>

<h2 id="3">Выполнение упражнения</h2>
<p>На странице выполнения упражнения обучающийся может вводить символьную последовательность,
  выводящуюся на экране и просматривать текущую статистику.</p>
<div class="img_cont">
  <p>другой скрин</p>
  <img src="./assets/exercise_list_user.jpg" alt="Выполнение упражнения" height="500">
</div>
<p>Обучающемуся также доступно отображение или скрытие виртуальной клавиатуры с помощью чекбокса.</p>
<div class="img_cont">
  <p>другой скрин</p>
  <img src="./assets/exercise_list_user.jpg" alt="Виртуальная клавиатура" height="500">
</div>
<div class="href_center">
  <a href="/home#0">К навигации</a>
</div>

<h2 id="4">Взаимодействие со списком пользователей</h2>
<div class="button_text">
  <p>Для просмотра списка всех пользователей обучающемуся необходимо нажать на кнопку</p>
  <img class="img_button" src="./assets/button_users.png" alt="Кнопка пользователи">
</div>
<div class="img_cont">
  <img src="./assets/users_list_user.jpg" alt="Список пользователей" height="500">
</div>
<p>Обучающийся может выполнять поиск конкретного пользователя по логину с помощью специального поля.</p>
<div class="img_cont">
  <img src="./assets/sort_users_list_user.jpg" alt="Отсортированный список пользователей" height="500">
</div>
<div class="href_center">
  <a href="/home#0">К навигации</a>
</div>

<h2 id="5">Просмотр статистики пользователя</h2>
<div class="button_text">
  <p>Для просмотра собственной статистики обучающемуся необходимо нажать на кнопку</p>
  <img class="img_button" src="./assets/button_statistics.png" alt="Кнопка статистика">
</div>
<div class="img_cont">
  <img src="./assets/user_statistics_user.jpg" alt="Статистика пользователя" height="500">
</div>
<div class="href_center">
  <a href="/home#0">К навигации</a>
</div>

<h2 id="6">Выход из приложения</h2>
<div class="button_text_end">
  <p>Для выхода из приложения "Кейскилл" обучающемуся необходимо нажать на кнопку</p>
  <img class="img_button" src="./assets/button_exit.png" alt="Кнопка выход">
</div>
<p>После этого появится окно с просьбой подтверждения выхода из приложения.</p>
<div class="img_cont">
  <img src="./assets/exit_confirmation.jpg" alt="Подтверждение выхода">
</div>
<p>В случае подтверждения выхода обучающийся попадет на страницу авторизации.</p>
<div class="img_cont">
  <img src="./assets/authorization.jpg" alt="Пустая авторизация" height="500">
</div>
<div class="href_center_end">
  <a href="/home#0">К навигации</a>
</div>

