<div *ngIf="isLoggedIn; else loggedOut">
  <app-admin></app-admin>
</div>

<ng-template #loggedOut>
  <div *ngIf="!isLoggedIn" class="row" >
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <p>Для начала работы в клавиатурном тренажере вам<br> необходимо войти</p>
      <div class="form-group">
        <label for="username">Введите логин:</label>

        <mat-form-field appearance="fill" >
          <input matInput name="username" [(ngModel)]="form.username" #username="ngModel"
                 required />
        </mat-form-field>
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors!.required">Логин обязателен</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Введите пароль:</label>
        <mat-form-field appearance="fill">
          <input matInput name="password" [(ngModel)]="form.password" #password="ngModel"
                 required minlength="3" />
        </mat-form-field>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors!.required">Пароль обязателен</div>
          <div *ngIf="password.errors!.minlength">Пароль должен содержать минимум 3 символа</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn">Войти</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Введен неправильный логин<br>или пароль
        </div>
      </div>
    </form>
  </div>
</ng-template>
