.letters_field{
  background-color: #c9f0c8;
  padding: 4% 30% 4% 30%;
  border-radius: 8px 8px 8px 8px;
  font-size: 150px;
}

.work{
  display: flex;
  justify-content: center;
}

.info{
  display: flex;
  justify-content: space-between;
  margin: 5% 15% 2% 10%;
}

p{
  font-size: 17px;
}

input{
  font-size: 17px;
}

.virtual{
  display: flex;

}
