.letters_field{
  background-color: #c9f0c8;
  padding: 70px 30px 70px 30px;
  border-radius: 8px 8px 8px 8px;
  width: 950px;
  margin:0 auto;
  overflow-x:hidden;
  overflow-y: hidden;
}

.moving_letters{
  display: flex;
  justify-content: right;
  padding-right: 10px;
}

.main_letters{
  font-size: 150px;
}

.letters{
  font-size: 100px;
}

.info{
  display: flex;
  justify-content: space-between;
  margin: 5% 15% 2% 10%;
}

p{
  font-size: 17px;
}
input{
  font-size: 17px;
}

.virtual{
  display: flex;

}
