.letters_field{
  background-color: #c9f0c8;
  padding: 70px 30px 70px 30px;
  border-radius: 8px 8px 8px 8px;
  width: 950px;
  margin:0 auto;
  overflow-x:hidden;
  overflow-y: hidden;
}

.moving_letters{
  display: flex;
  justify-content: right;
  padding-right: 10px;
}

.main_letters{
  font-size: 150px;
}

.letters{
  font-size: 100px;
}

.info{
  display: flex;
  margin: 5% 15% 2% 10%;
}

p{
  font-size: 17px;
}
input{
  font-size: 17px;
}

.virtual{
  display: flex;
  margin-left: auto;
}

.keyboard{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}

button{
  border-color: #43b05a;
  border-radius: 4px 4px 4px 4px;
  font-family: Roboto;
  width: 43px;
  padding: 5px;
}

.zero_str{
  margin-right: 35%;
}

.space{
  padding: 15px 130px 10px 130px
}

.info_data{
  margin-left: 10px;
}

.text_left{
  text-align: right;
}
