<nav class="main" *ngIf="!authority; else loggedIn">
  <div class="main-img">
    <div class="main-img__logo">
      <img src="./assets/logo.png" alt="Логотип" height="80">
    </div>
    <div class="main-img__keyboard">
      <img src="./assets/keyboard.png" alt="Клавиатура" height="50">
    </div>
  </div>
</nav>
<ng-template #loggedIn>
  <nav class="log_in">
    <button>
      <a [routerLink]="['users']">Пользователи</a>
    </button>
    <button>
      <a [routerLink]="['exercises']">Упражнения</a>
    </button>
    <button *ngIf="authority=='admin'; else userStat">
      <a [routerLink]="['general-statistic']">Статистика</a>
    </button>
    <ng-template #userStat>
      <button>
        <a [routerLink]="['user-statistic']">Статистика</a>
      </button>
    </ng-template>
    <button *ngIf="authority=='admin' ; else userRef">
      <a [routerLink]="['reference-admin']">Справка</a>
    </button>
    <ng-template #userRef>
      <button>
        <a [routerLink]="['reference-user']">Справка</a>
      </button>
    </ng-template>
    <button class="user_button" (click)="logout()">
      <p>{{username}}, {{authority === "admin" ? "админ" : "ученик"}}<br>Выйти</p>
    </button>
  </nav>
</ng-template>
<div class="container">
  <router-outlet></router-outlet>
</div>
