<nav class="main" *ngIf="!authority; else loggedIn">
  Кейскилл
</nav>
<ng-template #loggedIn>
  <nav class="log_in">
    <button>
      <a href="/">Пользователи</a>
    </button>
    <button>
      <a href="/exercises">Упражнения</a>
    </button>
    <button>
      <a href="/">Статистика</a>
    </button>
    <button>
      <a href="/">Справка</a>
    </button>
    <button class="user_button" (click)="logout()">
      <p>{{username}}<br>{{authority==="admin"?"админ":"ученик"}}<br>Выйти</p>
    </button>
  </nav>
</ng-template>
<div class="container">
  <router-outlet *ngIf="authority; else needLogIn"></router-outlet>
  <ng-template #needLogIn>
    <app-login></app-login>
  </ng-template>
</div>
