<div class="users_admin">
  <div class="search_users">
    <input type="text" placeholder="Введите логин">
    <img src="./assets/loupe.png" alt="Лупа" height="28">
  </div>
  <div class="str_users">
    <button>
      <a><b>Addy</b><br>Упражнений выполнено: 4</a>
    </button>
    <button>
      <a><b>Eternity</b><br>Упражнений выполнено: 69</a>
    </button>
    <button>
      <a><b>Loveash</b><br>Упражнений выполнено: 228</a>
    </button>
    <button>
      <a><b>Poumolchaniu</b><br>Упражнений выполнено: 0</a>
    </button>
    <button>
      <a><b>Addy</b><br>Упражнений выполнено: 4</a>
    </button>
    <button>
      <a><b>Eternity</b><br>Упражнений выполнено: 69</a>
    </button>
  </div>
  <button class="btn_add" (click)="openModal()">+</button>
</div>

