<div class="users_admin">
  <div class="search_users">

    <input [(ngModel)]="search_field" (submit)="onSubmit()" class="search_field" id = "search_Field" type="text" ng-model="searchTerm" placeholder="Введите логин">

    <button class="search" id = "search" (click)="onSubmit()"><img src="./assets/loupe.png" alt="Лупа" height="28"></button>
  </div>
  <div *ngIf="chekAdminRole(); else user_field" class="str_users" >
    <button [ngStyle]="chekAdminRole()?{'cursor': 'pointer'}:{}" *ngFor="let user of allUsers"(click)="openUserCard(user.id)">
      <b>{{user.username}}</b><br>Упражнений выполнено: {{user.count}}
    </button>
  </div>
  <ng-template #user_field class="str_users">
    <div>
      <button *ngFor="let user of allUsers">
        <b>{{user.username}}</b><br>Упражнений выполнено: {{user.count}}
      </button>
    </div>
  </ng-template>
  <div class="fix_button">
    <input  *ngIf="chekAdminRole()" class="but" type="image" src="../../assets/plus.png" width="50%" height="50%" (click)="openModal()">
  </div>
</div>

