.search_field {
  background-color: #bebdbb;
  width: 40%;
  border: 0;
  padding: 8px 0 8px 0;
  border-radius: 4px 4px 4px 4px;
}

::placeholder {
  color: white;
  padding-left: 5%;
  font-family: "Roboto";
}

.users_admin{
  display: flex;
  align-items: center;
  margin-top: 4%;
  flex-direction: column;
}

.search_users {
  display: flex;
  justify-content: center;
  width: 100%;
}

img {
  padding: 4px 10px 2px;
}

.str_users{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

button{
  background-color: #c5eec4;
  border: 0;
  padding: 40px 15px 40px 15px;
  border-radius: 4px 4px 4px 4px;
  margin: 30px 30px 0 30px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

a{
  font-family: "Roboto";
  font-size: 16px;
  color: #56674c;
}

.btn_add{
  padding: 1px 15px 1px 15px ;
  border-radius: 50% 50% 50% 50%;
  background-color: #45b05d;
  color: white;
  font-size: 60px;
}

.fix_button {
  position: sticky;
  padding-top: 15px;
  bottom: 5px;
  text-align: center;
}
