<div class="users_admin">
  <div class="search_users">
    <input type="text" placeholder="Введите логин">
    <img src="./assets/loupe.png" alt="Лупа" height="28">
  </div>
  <div class="str_users">
    <button *ngFor="let user of allUsers">
      <a><b>{{user.username}}</b><br>Упражнений выполнено: 0</a>
    </button>
  </div>
  <div class="fix_button">
    <input  *ngIf="chekAdminRole()" class="but" type="image" src="../../assets/plus.png" width="50%" height="50%" (click)="openModal()">
  </div>
</div>

