#chart {
  width: 800px;
  margin-top: 30px;
  margin-right: 1%;
}
.table {
  width: 800px;
}
.stat{
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  flex-direction: column;
  align-items: center;
}

