<div class="top_panel">
  <p mat-dialog-title>Создание упражнения</p>
  <input type="image" src="../../assets/close.png" width="5%" height="5%" (click)="onClose()">
</div>
<hr>
<form [formGroup]="myForm" mat-dialog-content>
  <p>Введите название:</p>
  <input [(ngModel)]="exercise.name" formControlName="name" class="input_field" type="text"/>
  <div class="danger" *ngIf="_name?.invalid && (_name?.touched || _name?.dirty)">
    <span *ngIf="_name?.errors?.required">Пустое название недопустимо</span>
    <span *ngIf="_name?.errors?.minlength">Введите больше 3 символов</span>
    <span *ngIf="_name?.errors?.maxlength">Введите меньше 15 символов</span>
  </div>
  <p>Введите уровень сложности:</p>
  <mat-form-field appearance="fill">
    <mat-label>Уровень сложности</mat-label>
    <mat-select [(ngModel)]="exercise.levelNumber" formControlName="levelNumber" (valueChange)="displayAll()">
      <mat-option *ngFor="let level of this.levels" [value]="level.key">
        {{level.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>Введите длину упражнения: {{_level==1?"(40-60)":(_level==2?"(61-80)":(_level==3?"(81-100)":""))}} символов</p>
  <input [(ngModel)]="exercise.length" formControlName="length" *ngIf="display_all; else display_none"
         [ngStyle]="display_all?{'background-color':'#c5eec4'}:{'background-color': 'grey' }"
         class="delete_spinner" type="number">
  <div class="danger" *ngIf="_length?.invalid && (_length?.touched || _length?.dirty)">
    <span *ngIf="_length?.errors?.required">Необходимо задать длину</span>
    <span *ngIf="_length?.errors?.min">Слишком маленькое значение</span>
    <span *ngIf="_length?.errors?.max">Слишком большое значение</span>
  </div>
  <p>Выберите зоны клавиатуры: выберите {{_level==1?"1 зону":(_level==2?"2-3 зоны":(_level==3?"3-4 зоны":""))}}</p>
  <mat-form-field *ngIf="display_all; else display_none" appearance="fill">
    <mat-label>Зоны клавиатуры</mat-label>
    <mat-select [(ngModel)]="exercise.keyZone" formControlName="keyZone" multiple>
      <mat-option *ngFor="let zone of zoneList" [value]="zone.key">{{zone.value}}</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-template #display_none>
    <input class="not_input_field" type="text" disabled="disabled">
  </ng-template>
  <div class="danger" *ngIf="_zone?.invalid && (_zone?.touched || _zone?.dirty)">
    <span *ngIf="_zone?.errors">Выберите необходимое количество зон</span>
  </div>
  <p>Введите максимальное время нажатия клавиши: не более {{_level==1?"4 сек.":(_level==2?"3 сек.":(_level==3?"2 сек.":""))}}</p>
  <input [(ngModel)]="exercise.maxTimeKick" formControlName="maxTimeKick" *ngIf="display_all; else display_none"
         [ngStyle]="display_all?{'background-color':'#c5eec4'}:{'background-color': 'grey' }"
         class="input_field" type="number" max="4" min="0" onkeydown="return false">
  <div class="danger" *ngIf="_maxTimeKick?.invalid && (_maxTimeKick?.touched || _maxTimeKick?.dirty)">
    <span *ngIf="_maxTimeKick?.errors?.required">Необходимо задать длину</span>
    <span *ngIf="_maxTimeKick?.errors?.min">Слишком маленькое значение</span>
    <span *ngIf="_maxTimeKick?.errors?.max">Слишком большое значение</span>
  </div>
  <p>Выберите тип создания упражнения:</p>
  <mat-form-field *ngIf="display_all; else display_none" appearance="fill">
    <mat-label>Тип создания</mat-label>
    <mat-select [(ngModel)]="exercise.creatingWay" formControlName="creatingWay" [disabled]="!display_all"
                [ngStyle]="display_all?{'background-color':'#c5eec4'}:{'background-color': 'grey'}">
      <mat-option *ngFor="let type of types" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="danger"
       *ngIf="myForm.controls['creatingWay'].invalid && myForm.controls['creatingWay'].touched">
    Выберите тип создания
  </div>
  <div *ngIf="checkNotAutoInput()">
    <p>Введите свою последовательность:</p>
    <textarea [(ngModel)]="exercise.masOfSymbols" formControlName="masOfSymbols" style="padding-bottom:70px ;
    font-size:16px;
    height: 70px;
    width: 444px">
    </textarea>
    <div class="danger" *ngIf="_symbols?.invalid && (_symbols?.touched || _symbols?.dirty)">
      <span *ngIf="_symbols?.errors?.required">Необходимо ввести последовательность</span>
      <span *ngIf="_symbols?.errors?.minlength">Введите еще символы</span>
      <span *ngIf="_symbols?.errors?.maxlength">Лишние символы</span>
    </div>
  </div>
  <div class="btn_add">
    <input class="but" type="image" src="../../assets/plus.png" width="15%" height="15%" (click)="onSave()">
  </div>
</form>
